In [1]:
from imblearn.over_sampling import SMOTE
from sklearn.preprocessing import LabelEncoder
import numpy as np
import pandas as pd

In [2]:
from joblib import load

In [7]:
X, y_all = load('preprocessed_data_BS1.joblib')

In [8]:
y_all.head()

  Group Subgroups
0     B     cells
1     B     cells
2     B     cells
3     B     cells
4     B     cells

In [19]:
y = y_all[["Group"]]

In [20]:
y.head()

  Group
0     B
1     B
2     B
3     B
4     B

In [21]:
label_encoder = LabelEncoder()
y_encoded = label_encoder.fit_transform(y)

c:\Users\stefa\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [22]:
unique_classes = label_encoder.classes_
unique_labels = label_encoder.transform(unique_classes)

print("Unique Classes and Their Encoded Labels:")
for cls, label in zip(unique_classes, unique_labels):
    print(f"{cls} -> {label}")

Unique Classes and Their Encoded Labels:
B -> 0
D -> 1
M -> 2
NK -> 3
T -> 4

In [25]:
unique_values, value_counts = np.unique(y_encoded, return_counts=True)

for value, count in zip(unique_values, value_counts):
    print(f"{value}: {count}")

0: 1660
1: 142
2: 1661
3: 1394
4: 8326

In [34]:
oversample = SMOTE()
X_oversampled, y_oversampled = oversample.fit_resample(X, y_encoded)

In [35]:
y_resampled_original = label_encoder.inverse_transform(y_oversampled)

In [41]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_oversampled, y_resampled_original, test_size=0.3, stratify=y_resampled_original, random_state=1)

In [42]:
unique_values, value_counts = np.unique(y_train, return_counts=True)

for value, count in zip(unique_values, value_counts):
    print(f"{value}: {count}")

B: 5828
D: 5828
M: 5829
NK: 5828
T: 5828

In [43]:
from joblib import dump
dump((X_train, X_test, y_train, y_test), 'oversampled_BS1.joblib')

['oversampled_BS1.joblib']