In [36]:
import numpy as np
import pandas as pd
from imblearn.over_sampling import SMOTE

In [37]:
data_bs1 = pd.read_csv('../data/preprocessed_data_BS1.csv')

In [38]:
X = data_bs1.drop(['Group'], axis=1)
y = data_bs1['Group']

In [39]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=55)

In [40]:
data = pd.concat([X_train, y_train], axis=1)

In [41]:
oversampled_df = pd.DataFrame()

for cl in y.unique():
    rows_in_class = data[data['Group'] == cl]
    rows_to_add = pd.DataFrame()
    if(len(rows_in_class) < int(int(len(data) * 0.7) / y.nunique())):
        rows_to_add = rows_in_class.sample(n=int(int(len(data) * 0.7) / y.nunique()), replace=True)
    else:
        rows_to_add = rows_in_class.sample(n=int(0.7 * len(rows_in_class)))
    oversampled_df = pd.concat([oversampled_df, rows_to_add], ignore_index=True)

In [42]:
oversampled_df

,hg38_ASF1A,hg38_CCT7,hg38_EPOR,hg38_NECAP2,hg38_LRRC8A,hg38_NDUFS8,hg38_MRPL22,hg38_HIST1H2BC,hg38_LY96,hg38_UBE2E2-AS1,...,hg38_TMEM128,hg38_ASPSCR1,hg38_CDC20,hg38_DNAJB9,hg38_OSTM1,hg38_LCNL1,hg38_PHB,hg38_LRRC29,hg38_ZFP36,Group
0,0,0,0,0,0,0,0,0,0,0,...,3,0,0,0,0,0,0,0,0,B
1,0,0,0,2,2,2,2,0,0,0,...,0,0,0,0,2,0,4,0,0,B
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,B
3,0,3,0,3,0,0,0,0,0,0,...,0,0,0,0,3,0,3,0,3,B
4,0,0,0,0,0,3,0,0,0,0,...,0,0,0,0,0,0,0,0,3,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9231,3,0,0,0,0,3,0,0,0,0,...,0,0,0,3,3,0,0,0,0,T
9232,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4,T
9233,0,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,T
9234,0,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,T
9235,0,0,0,0,0,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,T

In [43]:
for cl in oversampled_df['Group'].unique():
    print(cl + ' -> ' + str(len(oversampled_df[oversampled_df['Group'] == cl])))

B -> 1291
D -> 1291
M -> 1291
NK -> 1291
T -> 4072

In [45]:
oversampled_df.to_csv('../data/oversampled_train_BS1.csv', index=False)

In [46]:
test_data = pd.concat([X_test, y_test], axis=1)
test_data.to_csv('../data/oversampled_test_BS1.csv', index=False)