In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random

In [2]:
df = pd.read_csv("../data/d10800_GEO_JoinedTrans.csv")
df.head()

,src_file,row_id,hg38_ASF1A,hg38_CCT7,hg38_EPOR,hg38_NECAP2,hg38_LRRC8A,hg38_NDUFS8,hg38_MRPL22,hg38_HIST1H2BC,...,hg38_TBC1D10C,hg38_TMEM128,hg38_ASPSCR1,hg38_CDC20,hg38_DNAJB9,hg38_OSTM1,hg38_LCNL1,hg38_PHB,hg38_LRRC29,hg38_ZFP36
0,GEO__BC__GEO_20181015_GSM3258348_control_CD19_...,1,1,2,0,0,0,0,1,0,...,1,0,0,0,0,0,0,1,0,1
1,GEO__BC__GEO_20181015_GSM3258348_control_CD19_...,2,0,2,0,2,0,5,1,0,...,7,0,3,0,0,0,0,3,0,1
2,GEO__BC__GEO_20181015_GSM3258348_control_CD19_...,3,3,4,0,0,0,3,3,0,...,6,0,3,1,0,0,0,3,0,2
3,GEO__BC__GEO_20181015_GSM3258348_control_CD19_...,4,0,1,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,1
4,GEO__BC__GEO_20181015_GSM3258348_control_CD19_...,5,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [3]:
X = df.drop(columns=['src_file', 'row_id'])
X.head()

,hg38_ASF1A,hg38_CCT7,hg38_EPOR,hg38_NECAP2,hg38_LRRC8A,hg38_NDUFS8,hg38_MRPL22,hg38_HIST1H2BC,hg38_LY96,hg38_UBE2E2-AS1,...,hg38_TBC1D10C,hg38_TMEM128,hg38_ASPSCR1,hg38_CDC20,hg38_DNAJB9,hg38_OSTM1,hg38_LCNL1,hg38_PHB,hg38_LRRC29,hg38_ZFP36
0,1,2,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,1,0,1
1,0,2,0,2,0,5,1,0,4,0,...,7,0,3,0,0,0,0,3,0,1
2,3,4,0,0,0,3,3,0,0,0,...,6,0,3,1,0,0,0,3,0,2
3,0,1,0,0,0,0,0,0,1,0,...,2,0,0,0,0,0,0,0,0,1
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [4]:
X = X.apply(pd.to_numeric, downcast='integer')

In [5]:
X.shape

(16405, 10800)

In [6]:
y = df['src_file']

In [7]:
from sklearn.feature_selection import VarianceThreshold
from scipy.sparse import csr_matrix

In [8]:
X_sparse = csr_matrix(X)
X_sparse.shape

(16405, 10800)

In [9]:
selector = VarianceThreshold(threshold=0.05)
X_selected = selector.fit_transform(X_sparse)
X_selected

<16405x5957 sparse matrix of type '<class 'numpy.int16'>'
	with 17095559 stored elements in Compressed Sparse Row format>

In [10]:
X = pd.DataFrame(X_selected.todense())
X.head()

,0,1,2,3,4,5,6,7,8,9,...,5947,5948,5949,5950,5951,5952,5953,5954,5955,5956
0,1,2,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,1
1,0,2,2,5,1,4,2,0,0,1,...,0,0,7,0,3,0,0,0,3,1
2,3,4,0,3,3,0,0,0,0,0,...,0,1,6,0,3,1,0,0,3,2
3,0,1,0,0,0,1,0,0,0,0,...,0,0,2,0,0,0,0,0,0,1
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [11]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [12]:
string_to_int_mapping = {string: index for index, string in enumerate(np.unique(y))}

y_mapped = np.array([string_to_int_mapping[string] for string in y])

string_to_int_mapping

{'GEO__BC__GEO_20181015_GSM3258348_control_CD19_B_qc': 0,
 'GEO__BC__GEO_GSM3258346_CD19_B_qc': 1,
 'GEO__MC__GEO_20170915_GSM2773408_Monocytes_d1_qc': 2,
 'GEO__MC__GEO_20170915_GSM2773409_Monocytes_d2_qc': 3,
 'GEO__NK__GEO_20190108_NK_qc': 4,
 'GEO__TC__1-T01-OK-T_cells_ncT_iNKT_GSM3544603-GEO-VB': 5,
 'GEO__TC__1-T02-OK-T_cells_ncT_MAIT_GSM3544603-GEO-VB': 6,
 'GEO__TC__1-T03-OK-T_cells_ncT_Vd1-GSM3544603-GEO-VB': 7,
 'GEO__TC__1-T04-OK-T_cells_ncT_Vd2-GSM3544603_GEO-VB': 8,
 'GEO__TC__1-T11-OK-T_cells_T4_CD4_GSM3544603-GEO-VB': 9,
 'GEO__TC__1-T21-OK-T_cells_T8_CD8_GSM3544603-GEO-VB': 10,
 'GEO__TC__GEO_20180725_GSM3087629_CD8+T_methanol_SSC_qc': 11,
 'GEO__TC__GEO_20181107_GSM3430548_Donor1__IL-10-producing_Foxp3-_CD4+_T_qc': 12,
 'GEO__TC__GEO_20190131_GSM3478792_nonmalignant_(P5__(CD3+CD4+CD5intSSCint)_CD4+_Tcells_qc': 13,
 'GEO__TC__GEO_20190620_GSM3209407_CD4+T_qc': 14,
 'GEO__TC__GEO_20190620_GSM3209408_CD4+T_C_CCR5+CD69-_qc': 15}

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y_mapped, test_size=0.3, stratify=y, random_state=0)

In [14]:
from joblib import dump
dump((X_train, X_test, y_train, y_test), 'preprocessed_data_GEO.joblib')

['preprocessed_data_GEO.joblib']

In [15]:
from sklearn.metrics import accuracy_score
from xgboost import XGBClassifier

model = XGBClassifier()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy:.2f}')

Accuracy: 0.93